.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
resource/lua_client_api_changelog
resource/lua_server_api_changelog
resource/items_game.txt

!node_modules/@vscode/codicons
!node_modules/@vscode/webview-ui-toolkit