body {
	background-color: transparent;
}
.localization-list {
	list-style: none;
	padding: 0;
	width: 100%;
}

.item-contents {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	
	border-top: 1px solid #00000000;
	border-bottom: 1px solid #00000000;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	color: #cccccc;
	position: relative;
	padding: 12px 14px 18px;
	white-space: normal;
	padding-bottom: 26px;
	/* background-color: rgba(65, 67, 57, 0.35); */
}
.item-contents:hover {
	border-top: 1px solid #2c2d26;
	border-bottom: 1px solid #2c2d26;
	background-color: #2c2d26;
}
.item-contents:active {
	border-top: 1px solid #494a44;
	border-bottom: 1px solid #494a44;
	background-color: #30312a;
}
.item-contents.selected {
	border-top: 1px solid #494a44;
	border-bottom: 1px solid #494a44;
	background-color: #30312a;
}
.item-title {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	color: #cccccc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.item-label {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 18px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	line-height: 1.4em!important;
	cursor: default;
	white-space: nowrap;
	color: #e7e7e7;
	margin-right: 7px;
	font-weight: 600;
	-webkit-user-select: text;
}
.item-modified-indicator {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	color: #cccccc;
	white-space: normal;
	border-color: #0c7d9d;
	display: block;
	content: " ";
	position: absolute;
	width: 6px;
	border-left-width: 2px;
	border-left-style: solid;
	left: 5px;
	top: 15px;
	bottom: 23px;
}
.item-value {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	white-space: normal;
	margin-top: 9px;
	display: flex;
}
.item-control {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	white-space: normal;
	width: 100%;
}
.list-object-widget {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	white-space: normal;
	margin-bottom: 1px;
	padding: 1px;
	/* height: 120px; */
}
.list-row-header {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	white-space: normal;
	position: relative;
	max-height: 24px;
	font-weight: 700;
	display: flex;
	padding-right: 4px;
	background-color: hsla(0,0%,51%,.04);
}
.list-row {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	white-space: normal;
	position: relative;
	/* max-height: 24px; */
	display: flex;
	padding-right: 4px;
}
.list-row:nth-child(odd) {
	background-color: hsla(0,0%,51%,.04);
}
.list-row:hover {
	background-color: #3e3d32;
}
.list-row:active {
	background-color: #75715e;
}
.list-row.selected {
	background-color: #75715e;
}
.editing .list-row.selected {
	display: none;
}
.list-row input:not([type='checkbox']).list-object-key,
.list-row textarea.list-object-key {
	width: 30%;
	vertical-align: top;
}
.list-object-key {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	cursor: default;
	margin-right: 3px;
	/* white-space: pre; */
	overflow: hidden;
	/* text-overflow: ellipsis; */
	margin-left: 4px;
	min-width: 30%;
	display: inline-block;
	line-height: 24px;
}
.list-object-value {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	cursor: default;
	/* white-space: pre; */
	overflow: hidden;
	/* text-overflow: ellipsis; */
	width: 100%;
	display: inline-block;
	line-height: 24px;
}
.list-object-edit {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	white-space: normal;
	box-sizing: border-box;
	/* display: flex; */
	text-align: center;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: auto;
	padding: 2px 14px;
	margin: 0 4px;
	color: rgb(255, 255, 255);
	background-color: rgb(117, 113, 94);
}
.list-object-delete {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	white-space: normal;
	box-sizing: border-box;
	/* display: flex; */
	text-align: center;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: auto;
	padding: 2px 14px;
	color: rgb(255, 255, 255);
	background-color: rgb(117, 113, 94);
}
.list-new-row {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	color: #cccccc;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	cursor: default;
	white-space: normal;
}
.monaco-text-button {
	--sash-size: 4px;
	--monaco-monospace-font: Consolas,"Courier New",monospace;
	font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
	font-size: 13px;
	--separator-border: #34352f;
	border-spacing: 0;
	border-collapse: separate;
	-webkit-user-select: none;
	line-height: 1.4em!important;
	white-space: normal;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: auto;
	padding: 2px 14px;
	display: inline-block;
	margin-top: 4px;
	margin-right: 4px;
	color: rgb(255, 255, 255);
	background-color: rgb(117, 113, 94);
}
.monaco-text-button:hover {
	color: rgb(255, 255, 255);
	background-color: #8d8871;
}
.editing .new-btn,
.edit .new-btn {
	display: none;
}
.new-edit-btn {
	display: none;
}
.editing .new-edit-btn,
.edit .new-edit-btn {
	display: inline-block;
}
.control-btn {
	display: none;
	float: right;
}
.control .control-btn {
	display: inline-block;
}